<!DOCTYPE HTML>
<html>

<head>
    <title>Owner Add Complain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://dhakadailybazar.com/apartment-management-system/dist/js/jquery.mask.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

    <script src="js/jquery-2.1.1.min.js"></script>

    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/popup.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>

    <script src="js/Chart.min.js"></script>


    <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script>
        window.modernizr || document.write('<script src="lib/modernizr/modernizr-custom.js"><\/script>')
	</script>

    <script src="js/chartinator.js"></script>
    <script src="js/jqery.js"></script>

    <script src="js/skycons.js"></script>

</head>

<body>
    <div class="page-container">
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                <div class="header-main">
                    <div class="header-left">
                        <div class="logo-name">
                            <a href="">
                                <h1>Apartment Management System</h1>

                            </a>
                        </div>


                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-right">

                        <!--notification menu end -->

                        <!-- profile Icons Settings -->
                        <div class="profile_details">
                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            <span class="prfil-img"><img src="images/pro.jpg" width="50px" height="50px"
                                                    alt=""> </span>
                                            <div class="user-name">
                                                <p><%=user.First_Name%>
                                                <span>Owner</span>
                                            </div>
                                            <i class="fa fa-angle-down lnr"></i>
                                            <i class="fa fa-angle-up lnr"></i>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="/ownerprofile"><i class="fa fa-cog"></i> Settings</a> </li>
                                        <li> <a href="/ownerProView"><i class="fa fa-user"></i> Profile</a> </li>
                                        <li> <a href="/"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="inner-block">

                    <!-- Box Bars Menu -->








                    <div class="chit-chat-layer1t">
                        <!-- last Fivve Complain -->
                        <div class="col-md-12 chit-chat-layer1-left">
                            <div class="work-progres">
                                <nav aria-label="breadcrumb br" style=" margin-left:-5px;border-radius:3.25rem;">
                                    <ol class="breadcrumb" style="background-color: #07f389;">
                                        <li class="breadcrumb-item"><a href="/index" style="color:chocolate; font-weight:bold; font-size:27px;">Home</a></li>
                                        <li class="breadcrumb-item" style="color:chocolate; font-weight:bold;font-size:27px;">Owner</li>
                                        <li class="breadcrumb-item active" style="color:chocolate;font-size:27px; "
                                            aria-current="page">Add Complain</li>

                                    </ol>

                                    <a class="btn btn-primary" style="float: right;    font-size: 2rem;" href="/index"
                                        data-toggle="tooltip" data-placement="left" title="Home">
                                        <i class="fa fa-dashboard"></i></a>
                                </nav>




                                <div class="chit-chat-heading">
                                    <i class="fa fa-align-justify"></i><span style="display:inline-block;width: 10px;"></span>Complain
                                     Form
                                </div>

                                <div class="table-responsive">

                                    <div class="col-md-12 compose-right">
                                        <div class="inbox-details -default">

                                            <div class="inbox-details-body" style="background-color:black ;border: 3px solid whitesmoke; border-radius: 29px">

                                                <form class="com-mail" action="/addComplainO" method="post">
                                                    <div class="form-group">

                                                        <h4 style="color:cornsilk;font-weight: bold">*Compalin Title:</h4>
                                                        <input type="text" name="title" class="form-control"
                                                            required placeholder="Enter Complain Title">
                                                        <h4 style="color:cornsilk;font-weight: bold">*Complain Date:</h4>
                                                        <input type="date" onchange="(this.value)"  name="date" class="form-control" required
                                                            placeholder="Enter the Date">
                                                        
                                                        <h4 style="color:cornsilk;font-weight: bold">*Description:</h4>
                                                        <textarea class="form-control" name="des" placeholder="Enter the Description" ></textarea>
                                                        
                                                  
                                                    </div>


                                                    <input type="submit" value="Save Information">
                                                    <a href="/index"><input type="button" value="Back"> </a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Last five vistiors -->


                        <div class="clearfix"> </div>
                    </div>
                 
                  








                </div>
                <br>
                <br>
                <br>
                <br><br><br><br><br><br><br><br>

                <div class="copyrights">
                    <p>© 2019 Fantastic 5. All Rights Reserved. </p>
                </div>
                <!--COPY rights end here-->
            </div>
        </div>

        <!--slider menu-->
        <div class="sidebar-menu">
			<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo"></span>
					<!--<img id="logo" src="" alt="Logo"/>-->
				</a> </div>
			<div class="menu">
				<ul id="menu">
					<li id="menu-home"><a href="/index"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
					<li><a href="/FloorListO"><i class="fa fa-book nav_icon"></i><span>Floor Information</span><span class="fa fa-angle-right"
							 style="float: right"></span></a>
						
					</li>
					<li id="menu-comunicacao"><a href="#"><i class="fa fa-users"></i><span>Owner Information</span><span class="fa fa-angle-right"
							 style="float: right"></span></a>
						<ul>
							<li id="menu-arquivos"><a href="/ownerListlo">Owner List</a></li>
						
						</ul>
					</li>

					<li id="menu-comunicacao"><a href="#"><i class="fa fa-users"></i><span>Employee Information</span><span class="fa fa-angle-right"
							 style="float: right"></span></a>
						<ul>

							<li id="menu-arquivos"><a href="/employeeListO">Employee List</a></li>
							

						</ul>
					</li>

					<li id="menu-comunicacao"><a href="#"><i class=" fa fa-cog"></i><span>Owner Utility</span><span class="fa fa-angle-right"
							 style="float: right"></span></a>
						<ul>
							<li id="menu-arquivos"><a href="/OwnerUtilityListO">Owner Utility List</a></li>
							
						</ul>
					</li>

					<li id="menu-comunicacao"><a href="#"><i class=" fa fa-scissors"></i><span>Maintenance Cost</span><span class="fa fa-angle-right"
							 style="float: right"></span></a>
						<ul>
							<li id="menu-arquivos"><a href="/maintainCostListO">Maintenance Cost List</a></li>
							
						</ul>
					</li>


					<li id="menu-comunicacao"><a href="#"><i class=" fa fa-user"></i><span>Committee</span><span class="fa fa-angle-right"
							 style="float: right"></span></a>
						<ul>
							<li id="menu-arquivos"><a href="/committeListO">Member List</a></li>
						
						</ul>
					</li>

				



					<li id="menu-comunicacao"><a href="#"><i class=" fa fa-comments"></i><span>Complain</span><span class="fa fa-angle-right"
							 style="float: right"></span></a>
						<ul>

							<li id="menu-arquivos"><a href="/complainListO">Complain List</a></li>
							<li id="menu-arquivos"><a href="/addComplainO">Add Complain</a></li>
					
						</ul>
					</li>

				
					<li id="menu-comunicacao"><a href="#"><i class=" fa fa-commenting"></i><span>NoticeBoard</span><span class="fa fa-angle-right"
							 style="float: right"></span></a>
						<ul>

							<li id="menu-arquivos"><a href="/CommonNoticeO">Common NoticeBoard</a></li>
							<li id="menu-arquivos"><a href="/ownerNoticeO">Owner NoticeBoard</a></li>
						</ul>
					</li>







				




					<li><a href="#"><i class="fa fa-cog"></i><span>System</span><span class="fa fa-angle-right" style="float: right"></span></a>
						<ul>
								<li id="menu-academico-boletim"><a href="/ownerProViewO">profile</a></li>
							
							
						</ul>
					</li>

				</ul>
			</div>
		</div>
        <div class="clearfix">
             </div>
    </div>


    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/bootstrap.js"> </script>


</body>

</html>